<body>
    <head>
        <title>3 de abril</title>
        <link rel="stylesheet" href="estilos3abril.css">
    </head>
    <body>
        <div>
            <h1 id="estilos">Los Estilos en Linea</h1>
        </div>
        <div>
            <h2 id="definiendo">Definiendo reglas de estilo</h2>
            <p id="p1">Los párrafos son bloques de texto que colocan un salto de línea final y
            y dejan un margen inferior fijo. Cada párrafo es un elemto de bloque útil para 
            organizar el texto y facilitar la lectura. Los párrafos no pueden estar anidados y
            necesitan una etiqueta de apertura y cierre.</p>
        </div>
        <div>
            <p class="p2"><i class="i1">Nombre:</i> Jose Medina</p>
            <p class="p2"><i class="i1">Edad:</i> 25 años</p>
            <p class="p2"><i class="i1">Estudios:</i> Superiores</p>
        </div>
        <div class="titulo">
            <h2>Reglas con selectores</h2>
        </div>   
        <div class="lineas">
            <p>Los selctores permiten seleccionar elementos individuales de la pagina web. pueden usarse los predefinidos de HTML como div, strong.cite, etc... También pueden definirse selctores personalizados para usarloscon class o id</p>
        </div>
        <div>
            <h2 class="individuales">Selectores individuales</h2>
            <p id="p3">Cada elemento de la web puede hacerse único con el atributo <b>id</b></p>
            <p id="p4"> Los valores de <b>id</b> NO deben repetirse</p>
        </div>
        <div>
            <table class="tab1">
                <tr >
                    <th>Día</th>
                    <th>Temperatura</th>
                    <th>Estado</th>
                </tr>

                <tr>
                    <td>Lunes </td>
                    <td class="temp">10°</td>
                    <td>Nubes</td>
                </tr>
                <tr>
                    <td>Martes </td>
                    <td class="temp">12°</td>
                    <td>Nubes</td>
                </tr>
                <tr>
                    <td>Miércoles </td>
                    <td class="temp">12°</td>
                    <td>Nubes</td>
                </tr>
                <tr>
                    <td>Miércoles </td>
                    <td class="temp">12°</td>
                    <td>Nubes</td>
                </tr>
                <tr>
                    <td>Jueves </td>
                    <td class="temp">12°</td>
                    <td>Sol</td>
                </tr>
                <tr>
                    <td>Vierves </td>
                    <td class="temp">12°</td>
                    <td>Sol</td>
                </tr>
                <tr>
                    <td>Sábado </td>
                    <td class="temp">12°</td>
                    <td>Lluvia</td>
                </tr>
                <tr>
                    <td>Domingo </td>
                    <td class="temp">12°</td>
                    <td>Lluvia</td>
                </tr>
               
            </table>
        </div>
        <br>
        <br>
        <div id="card">
          <p id="card1">Juan Perez</p>
          <p id="card2">Freelancer con alto nivel de competencias en el diseño y creacion de sitios web</p>
          <p id="card3">email@example.com</p>  
        </div>
        
        
        <div id="divred">
            <div id="divblue">
                 <div id="divgreen"></div>
            </div>
        </div>

        <div id="global">
            <div id="divpink"></div>
            <div id="divyel"></div>
            <div id="divpur"></div>
        </div>


    </body>
</html>

