
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    {% include 'aplicacion/menu.html'%}
    <h1 >Mi primera plantilla Django!!!</h1>
    <h2>Bienvenido usuario</h2>
<ul>
    <li>
        <a href="https://www.as.com"> IR A MARCA.COM</a> 
    </li>

    <li>
        <a href="/friday/"> IR A LA PAG VIERNES</a>
    </li>
    
    <li> 
        <a href="listas/"> IR A LISTAS </a>
    </li>

    <li> 
        <a href="/peli/"> IR A LA PAGINA DE LA SIRENITA </a>
    </li>

        
</ul>  


</body>
</html>
