<! Este style que sigue a continuación, es código CSS que le dice a mi menu con que caracteristicas se va a mostrar () >
<style>
    .menu{
        display:table;
        margin:0 auto;
        font-size: larger;
        color: green;
    }
</style>

<div class="menu">
<a href="/"> Home </a>|
<a href="/deptbbdd"> Departamentos </a>|
<a href="/insertdeptpbbdd"> Insertar Departamentos </a>|
<a href="/updatedeptbbdd"> Modificar Departamentos </a>|
<a href="/borrardeptpbbdd"> Eliminar Departamentos </a>|
<a href="/detallesdeptpbbdd"> Detalles Departamentos </a>|

<a href="/hospbbdd"> Hospitales </a>|

<a href="/empdept"> Empleados/Departamentos </a>|


</div>
<hr>