{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    {%include 'pages/menu.html'%}
    
<h1> Modificar Departamentos  </h1>




<form method = "post">
    {% csrf_token %}
    <label> Ingrese el ID del departamento que desea modificar  </label>
    <input type = "number" name = "boxnum" value={{departamento.numero}}/> <br/><br/>
    <label> NOMBRE  </label>
    <input type = "text" name = "boxnombre" value={{departamento.nombre}}/> <br/><br>
    <label> LOCALIDAD  </label>
    <input type = "text" name = "boxloc" value={{departamento.localidad}}/> <br/><br/>
    
    <button> MODIFICAR DEPARTAMENTO </button>
</form>



</body>
</html>