{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    {% include 'informacion/menu.html' %}
    
    
   <h1>JUGADORES</h1>
   
   {% comment %} <h3> Mostramos los numeros en una lista: </h3> {% endcomment %}
   {% comment %} <ul>
        <!-- recorremos todo los numeros que recivimos -->
        {% for valor in numeros %}
            <li>{{ valor }}</li>
        {% endfor %}
        <!-- fin del comentario -->
   </ul> {% endcomment %}
   

   <h3> Mostramos las peronas en una tabla: </h3>
   <table border=1>
    <tr>
      <th>NOMBRE</th>
      <th>DEMARCACION</th>
      <th>CAMISETA
      </th>
    </tr>

    {% for valor in jug %}
    <tr>
      <td>{{valor.nombre}}</td>
      <td>{{valor.demarcacion}}</td>
      <td>{{valor.numero}}</td>
    </tr>
    {% endfor %}

  </table>
   


</body>
</html>
